<div class="container">
    {{!-- going to put an image of a burger on the top --}}
    <img>
    {{!-- heading --}}
    <header>
        <h1>Burger Time!</h1>
    </header>
    {{!-- putting an array of burgers to be eaten --}}
    <ul class="uneaten">
        {{#each burgers}}
            {{!-- unless the burger is eaten, the burger will show on the first list --}}
            {{#unless eaten}}
                  {{> burgers/burger-block eaten=true}}  
            {{/unless}}
        {{/each}}
        {{!-- Next list will be another for loop to show burgers that have been eaten --}}
    </ul>

    {{!-- making a list for eaten burgers --}}
    <ul class="eaten">
        {{#each burgers}}
            {{!-- this time I'm looking for burgers that have been eaten --}}
            {{#if eaten}}
                <li>
                    <p>{{id}}. {{name}}</p>
                </li>
            {{/if}}
        {{/each}}
    </ul>

    {{!-- using a form for the user to type in what burger they want to add --}}
    <form class="burgerTxt">
        <div class="form-group">
        <label for="exampleFormControlTextarea1"></label>
        <textarea class="form-control brgrAdd" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Add Burger</button>
    </form>
</div>

<script type="text/javascript">
// will need to insert some logic for when the submit button is hit
</script>