/* put html and body txt on top */
html, body {
    height: 100%;
    background-color: rgb(255,127,0);
    
}

body {
    margin: auto;
}

img {
    margin-top: 1%
}

.d-flex {
    display: flex;
    flex-direction: column;
}

header {
    align-content: center;
    text-align: center;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold
}

.burgs {
    flex-wrap: wrap;

}

li {
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: 'Montserrat Alternates', sans-serif;
    /* color: white */
}

.notEatenList, .eatenList {
    width: 49.5%;
    background-color: rgb(255, 255, 255);
    height: 100%
}

.notEatenList {
    float: left;

}

.readyBrgrsHead {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    /* color: white */
}

.eatBurger {
    float: right;
    background-color: rgb(255,127,0);
    color: white;
    margin-right: 1%
}

.eatenList {
    float: right;
    /* color: white */
}

.eatBrgrsHead {
    font-weight: bold
}

.eatBrgrsHead,.eatenBurger {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.btn-primary {
    align-content: center;
    width: 100%
}

@media only screen and (max-width: 600px) {
    .notEatenList, .eatenList {
        width: 98%;
        float: none;
        margin-top: 1%;
        margin-bottom: 1%;
    }
  }
/* classes able to add to
.readyBrgrsHead
.uneaten
.eatBrgrsHead
.eaten
.burgerTxt
.brgrAdd

.eatBurger*/