/* put html and body txt on top */
html, body {
    height: 100%;
    background-color: rgb(255,127,0);
}

body {
    margin: auto;
}

.d-flex {
    display: flex;
    flex-direction: column;
}

header {
    align-content: center;
    text-align: center;
}

.burgs {
    flex-wrap: wrap;
}

.notEatenList, .eatenList {
    width: 50%;
}

.notEatenList {
    float: left;
}

.eatenList {
    float: right;
}

.btn-primary {
    align-content: center;
    width: 100%
}
/* classes able to add to
.readyBrgrsHead
.uneaten
.eatBrgrsHead
.eaten
.burgerTxt
.brgrAdd

.eatBurger*/